//- 
 
  Example on how to include files from sub-directories. Don't hesitate to ask for help. We are here for you!
  Delete everything if you want to start from scratch. Otherwise use this template to kick-off your awesome projects.

  If you need an HTML to PUG converter, you can check out this website: https://html2jade.org


doctype html
  html(lang="en")

  head
    include 1-layout/head

  body

    nav
      include 1-layout/navbar

    header
      include 1-layout/header

    main
      include 1-layout/main

    footer
      include 1-layout/footer